@model CheeseMVC.ViewModels.AddMenuItemViewModel;
@{
    ViewBag.Title = "Add Item to Menu: " + Model.Menu.Name;
}
<h1>Add Item</h1>

<div asp-validation-summary="All"></div>

<form asp-controller="Menu" asp-action="AddItem" method="post">
    
    <div class="form-group">
        <input asp-for="Cheeses"> </label>
        <select asp-for="cheeseID" asp-items="Model.Cheeses"></select>
        <input type="hidden" name="MenuID" value="@Model.Menu.ID" />
        <span asp-validation-for="Cheeses"></span>
    </div>

    <input type="submit" value="Add Cheese to Menu" />

</form>